<section class="resume-section" id="certifications">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fab fab-aws text-warning"></i></span>
                Certified Cloud Practitioner
            </li>
            <li>
                <span class="fa-li"><i class="fab fab-aws text-warning"></i></span>
                Certified Developer – Associate
            </li>
            <li>
                <span class="fa-li"><i class="fab fab-aws text-warning"></i></span>
                Certified Solutions Architect – Associate
            </li>
            <li>
                <span class="fa-li"><i class="fas fab-trophy text-warning"></i></span>
                ITIL v3 Foundations
            </li>
            <li>
                <span class="fa-li"><i class="fab fab-java text-warning"></i></span>
                Oracle Certified Professional, Java 6 Programmer
            </li>
            <li>
                <span class="fa-li"><i class="fas fab-trophy text-warning"></i></span>
                SOA Architect
            </li>
            <li>
                <span class="fa-li"><i class="fas fab-trophy text-warning"></i></span>
                TOGAF Certified
            </li>
        </ul>
    </div>
</section>