<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a Software Engineer, I enjoy most of my time being outdoors with my family. On holidays, I enjoy traveling to close small towns just to breath fresh air</p>
        <p class="mb-0">When forced indoors, I am a Marvel fan and I follow a number of sci-fi and horror genre movies and television shows, also, I spend a large amount of my free time getting involved on Competitive Programming and exploring the cutting-edge technologies related to Cloud implementations.</p>
    </div>
</section>
<hr class="m-0" />