<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="fa-ul mb-0">
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Java</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> SQL</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Javascript</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Python (in progress)</li>
        </ul>
        <div class="subheading mb-3">Architecture</div>
        <ul class="fa-ul mb-0">
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Cloud (AWS and Azure)</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> DevOps</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Containers (Docker and Kubernetes)</li>
        </ul>        
        <div class="subheading mb-3">Soft Skills</div>
        <ul class="fa-ul mb-0">
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Adaptability</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Self-management</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Responsibility</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Leadership</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Teamwork</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Communication</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Creativity</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span> Organization</li>
        </ul>
    </div>
</section>
<hr class="m-0" />